/* App.js */

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* ArticleTile.js */

.ArticleTile-Image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0.7;
}

.ArticleTile-Container {
  position: relative;
  height: 300px;
  width: 300px;
}

.ArticleTile-Text {
  text-align: left;
  position: absolute;
  bottom: 8px;
  left: 16px;
  right: 16px;
  color: white;
  text-shadow: 0px 0px 3px #000;
}

.ArticleTile-Title {
  font-size: 20px;
}

.ArticleTile-Title {
  color: white;
  text-decoration: underline;
  margin: 2px;
  margin-left: 4px;
}

.ArticleTile-Author {
  color: white;
  text-decoration: underline;
}

.ArticleTile-Author,
.ArticleTile-Date,
.ArticleTile-Votes {
  display: inline-block;
  font-size: 13px;
  padding-right: 4px;
  padding-left: 4px;
}

/* Header.js */

.Header-Logo {
  width: 240px;
  height: auto;
  margin-right: 1000px;
  float: left;
  flex: 1;
}

.Header-NavBar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-top: 2px;
  position: relative;
  display: inline-block;
}

.Header-NavBarListItems {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.Header-UserAccountButtons {
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: 10;
}

/* LoggedInTile.js */

.LoggedInTile-AvatarImage {
  width: 35px;
  height: auto;
}

.LoggedInTile-Container {
  display: inline-block;
  width: 80px;
  position: absolute;
  top: 15px;
  right: 0px;
  z-index: 10;
}

.LoggedInTile-WelcomeBackText {
  font-size: 10px;
  margin: 0px;
  margin-bottom: 3px;
}

/* SingleArticle.js */

.SingleArticle-TopImage {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.SingleArticle-Container {
  text-align: left;
  height: auto;
  margin: 0 auto;
}

.SingleArticle-Title {
  font-size: 40px;
  text-align: center;
}

#SingleArticle-MainBody {
  font-size: 60px;
  padding-bottom: 30px;
}

/* Voting.js */

.Voting-VoteValue {
  margin: 10px;
  display: inline-flex;
}

.Voting-UpvoteButton,
.Voting-DownvoteButton {
  margin-bottom: 15px;
}

/* CommentGrid.js */

.CommentGrid-ListItems {
  border-top: 1px solid black;
}

/* CommentTile.js */

.CommentTile-UserAvatar {
  width: 65px;
  padding: 30px;
}

.CommentTile-TextContainer {
  height: auto;
  display: inline-block;
  position: relative;
}

.CommentTile-DeleteCommentButton {
  margin-top: 15px;
}

/* NewComment.js */

.NewComment-CommentButton {
  display: flex;
  text-align: right;
}

.NewComment-InputBox {
  width: relative;
  height: 50px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

.NewComment-Container {
  border-top: 1px solid black;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* LogInOverlay.js */

.LogInOverlay-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.LogInOverlay-Modal {
  width: 300px;
  height: 230px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  background-color: white;
  text-align: center;
  z-index: 10;
  border-radius: 10px;
}

.LogInOverlay-LogInButton,
.LogInOverlay-CloseWindowButton {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
}

.LogInOverlay-HeaderText {
  margin-top: 40px;
  margin-bottom: 45px;
}

/* SignUpOverlay.js */

.SignUpOverlay-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.SignUpOverlay-Modal {
  width: 300px;
  height: 230px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  background-color: white;
  text-align: center;
  z-index: 10;
  border-radius: 10px;
}

.SignUpOverlay-SignUpButton,
.SignUpOverlay-CloseWindowButton {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
}

.SignUpOverlay-HeaderText {
  margin-top: 40px;
  margin-bottom: 45px;
}

/* Profile.js */

.ProfileTile-AvatarImage {
  width: 150px;
  height: auto;
  position: relative;
}

.ProfileTile-Container {
  margin: 20px;
}

.ProfileTile-Text {
  margin: 20px;
  font-size: 20px;
  padding-bottom: 15px;
}

.ProfileTile-UserDescription {
  font-style: italic;
}

/* NewArticle.js */

.NewArticle-Header {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.NewArticle-TitleInput,
.NewArticle-BodyInput {
  height: 50px;
  width: 80%;
  border: 1px solid black;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.NewArticle-BodyInput {
  height: 400px;
}

.NewArticle-PostArticleButton {
  margin: 10px;
  margin-bottom: 150px;
}

/* SortArticles.js */

.SortArticles-SearchBar {
  display: inline-block;
  margin: 10px;
}

/* NewArticleButton (AllArticles.js and all topic pages) */

.NewArticleButton {
  margin: 10px;
}

/* PageNumbers.js */

.PageNumbers-Buttons {
  width: 40px;
  height: 40px;
  margin: 5px;
}

/* Error.js */

.ErrorPage-ErrorPotato {
  width: 500px;
  object-fit: unset;
}

/* ArticleGrid.js */

.ArticleGrid-ListItems {
  display: inline-block;
  padding-right: 5px;
}
