.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.singleArticle {
  text-align: left;
  height: auto;
  margin: 0 auto;
}

#SingleArticle-image {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

#articleTitle {
  font-size: 400%;
  text-align: center;
}

.articleTileTitle, .articleAuthor {
  color: white;
  text-decoration: underline;
}

.avatarImage {
  width: 200px;
  height: auto;
  position: relative;
}

.profileTile {
  padding: 40px;
  margin: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.profileTileText {
  padding: 40px;
  font-size: 20px;
}

#profileDesc {
  font-style: italic;
}

#myArticles {
  text-align: left;
  padding-left: 75px;
}

#commentList {
  border-top: 1px solid black;
}

#articleBody {
  font-size: 150%;
  padding-bottom: 30px;
}

#logo {
  width: 240px;
  height: auto;
  margin-right: 1000px;
  float: left;
  flex: 1;
}

.navBar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 6px;
  margin-top: 2px;
  display: inline-flex;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#navBarListItem {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

#articleTileListItem {
  display: inline-block;
  padding-right: 5px;
}

#articleTileImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#articleTileContainer {
  position: relative;
  height: 250px;
  width: 250px;
}

#articleTileText {
  text-align: left;
  position: absolute;
  bottom: 8px;
  left: 6px;
  right: 6px;
  color: white;
}

.overlay, .signup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal, .signup-modal {
    width: 300px;
    height: 230px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: white;
    text-align: center;
    z-index: 10;
    border-radius: 10px;
}

#logInButton, #signUpButton, #closeButton {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
}

.loggedInUserImage {
  width: 45px;
  height: auto;
}

.pleaseLogInText, .pleaseSignUpText {
  margin-top: 40px;
  margin-bottom: 45px;
}

#loggedInInfoBox {
  display: inline-block;
  width: 100px;
  position: absolute;
  top: 12px;
  right: 0px;
}

#welcomeBackText {
  font-size: 11px;
  margin: 4px;
  margin-bottom: 6px;
}

#userAccountButtons {
  position: absolute;
  top: 30px;
  right: 15px;
}

.commentButton {
  display: flex;
  text-align: right;
}

.commentBox {
  width: 500px;
  height: 50px;
  margin-bottom: 5px;
}

#voteValue {
  margin: 10px;
  display: inline-flex;
}

.votingButtons {
  margin-bottom: 15px;
}

.commentSection {
  border-top: 1px solid black;
  padding-top: 20px;
  margin-bottom: 20px;
}

#deleteCommentButton {
  margin-top: 15px;
}

.pageButtons {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#error-potato {
  width: 500px;
  object-fit: unset
}

.comment-avatar {
  width: 65px;
  padding: 30px;
}

#commentTileText {
  width: 800px;
  height: auto;
  display: inline-block;
  position: relative;
}

#article-title, #article-body {
  width: 700px;
  margin: 10px;
}

#article-body {
  height: 300px;
}

#postArticle-button {
  margin: 10px;
  margin-bottom: 150px;
}

#newArticle-header {
  text-align: left;
  margin-left: 357px;
}
