.App {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}

#logo {
  width: 300px;
  height: auto;
}

.navBar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

li {
  display: inline-block;
  padding-right: 50px;
}